.br {
      text-align: center;
      width: 300px;
      /* width: Ширина (PX); */

      height: 300px;
      /* height: Высота (PX); */

      border: 6px #0dd2fa solid;
      /* border: размер (PX) цвет тип заплыва;
      border = Раммка
      solid - сплошной
      dotted - точечный
      dashed - пунктирный */

      padding-top: 200px;
      /* padding: Это штука которая отступает от всех сторон в PX;
      padding: (PX); */
      /* Также можно указать 4 параметра где:
      1 параметр - общий отступ (PX)
      2 параметра - 1 (PX) - это вверх/вниз, 2(PX) это лево/право
      4 параметра - вверх, право, низ, лево */

      /* Также если нужно сделать отступ только с одной стороный на примере сверху, то есть 4 команды:
      padding-top: сверху;
      padding-left: слева;
      padding-bottom: снизу;
      padding-right: справа; */
}